*{
    font-family: 'Nanum Brush Script', cursive;
}

body{
    background-color: azure;
}

header {
    padding: 10px;
    margin: 10px;
    position: relative; /* 부모 요소를 relative로 설정하여 가상 요소의 위치 기준을 설정 */
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(background_mountain.png);
    height: 100%;
    width: 100%;
    opacity: 0.3; /* 투명도를 조절할 값을 입력 (0.0 ~ 1.0 사이) */
    z-index: -1; /* 가상 요소를 배경 이미지의 뒤에 위치시킴 */
}

/* .main-string{
    box-sizing: border-box;
    background-color: rgb(19, 181, 127);
    height: 30px;
    width: 100vh;
} */

#Logo-img{
    height: 50px;
    width: 50px;
}

.main{
    display: flex;
    flex-direction: row-reverse;
    margin-top: -50px;
}

.main img{
    height: 30px;
    width: 30px;
    margin: 3px;
    position: relative;
    right: 15px;
}

body {
    padding: 30px;
    margin: 30px;
    background-color: azure;
}

.main-string {
    box-sizing: border-box;
    background-color: #519d9e;
    height: 50px;
    width: 100%;
    border-radius: 15px;
    border: none;
}

#Logo-img {
    height: 50px;
    width: 50px;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -50px;
}

.main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.introduce{
    font-size: 35px;
    margin-top: 200px;
    text-align: center;
    margin: 100px;
    width: 800px;
}

.introduce span{
    font-family: 'Gamja Flower', cursive;
    font-size: 50px;
}

input[type="button"] {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    margin-top: 10px;
    width: 200px;
    height: 100px;
    font-size: 50px;
    border: none;
    border-radius: 15px;
    position: relative;
    margin-bottom: 100px;
    transition: box-shadow 0.3s; /* box-shadow 속성에 transition 추가 */
}

input[type="button"]:hover{
    box-shadow: 8px 8px #99bdff;
    cursor: pointer;
}

input[type="button"]:not(:hover) {
    transition: box-shadow 0.3s; /* hover 상태가 아닐 때도 transition 추가 */
}
