* {
    font-family: 'Nanum Brush Script', cursive;
}

body {
    background-color: azure;
    padding: 30px;
    margin: 30px;
}

header {
    padding: 1%;
    margin: 1%;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(background_mountain.png);
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main img#Logo-img {
    margin-right: auto;
    margin-left: 25px;
}

.main img:not(#Logo-img) {
    margin-left: auto;
    margin-right: 5px;
}



.main img {
    height: 30px;
    width: 30px;
    margin: 7px;
    position: relative;
    right: 15px;
}

.main-string {
    box-sizing: border-box;
    background-color: #519d9e;
    height: 50px;
    width: 100%;
    border-radius: 15px;
    border: none;
}

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.introduce {
    font-size: 35px;
    margin-top: 200px;
    text-align: center;
    margin: 100px;
    width: 800px;
}

.introduce span {
    font-family: 'Gamja Flower', cursive;
    font-size: 50px;
}

input[type="button"] {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    margin-top: 10px;
    width: 200px;
    height: 100px;
    font-size: 50px;
    border: none;
    border-radius: 15px;
    position: relative;
    margin-bottom: 100px;
    transition: box-shadow 0.3s;
}

input[type="button"]:hover {
    box-shadow: 8px 8px #99bdff;
    cursor: pointer;
}

input[type="button"]:not(:hover) {
    transition: box-shadow 0.3s;
}

/* 미디어 쿼리 */

@media (max-width: 768px) {
    .introduce {
        font-size: 25px;
        width: 100%;
    }

    .introduce span {
        font-size: 40px;
    }

    input[type="button"] {
        width: 150px;
        height: 80px;
        font-size: 30px;
        margin-bottom: 50px;
    }
}

@media (max-width: 480px) {
    .introduce {
        font-size: 20px;
        width: 100%;
    }

    .introduce span {
        font-size: 35px;
    }

    input[type="button"] {
        width: 120px;
        height: 60px;
        font-size: 25px;
        margin-bottom: 30px;
    }
}
